# 단방향

In [42]:
import pandas as pd
import numpy as np

In [43]:
o_pred = pd.read_csv("단방향.csv", index_col="date")

In [44]:
o_real = pd.read_csv("실제값.csv", index_col="date")

## RMSE

In [45]:
o_RMSE = np.sqrt((o_real-o_pred)**2)

In [47]:
o_RMSE

,수원시,성남시,안양시,부천시,광명시,안산시,고양시,과천시,구리시,남양주시,...,이천시,안성시,포천시,여주시,의정부시,오산시,파주시,화성시,광주시,양주시
date,,,,,,,,,,,,,,,,,,,,,
2022-01-01,3.974461,0.302920,0.044558,0.271303,1.047993,12.778983,0.661085,0.097523,7.329131,3.284922,...,1.238853,11.085668,1.937076,0.354075,11.419032,24.907816,0.399477,0.120659,0.625181,1.012367
2022-02-01,5.865775,3.175079,5.320750,0.489997,1.401706,2.489284,5.411468,0.097523,10.792186,1.240883,...,2.138853,11.185668,3.634249,0.394033,11.319032,2.522362,1.086113,0.379341,1.061118,0.412616
2022-03-01,9.280536,14.308716,6.241813,0.136976,4.252173,28.039710,3.558147,0.397524,6.506503,1.598241,...,3.438853,11.685668,5.369514,0.515312,11.319032,38.924789,0.979420,4.875896,0.612385,1.504791

## MAPE

In [61]:
o_MAPE = ((abs(o_real-o_pred))/o_real)

In [62]:
o_MAPE

,수원시,성남시,안양시,부천시,광명시,안산시,고양시,과천시,구리시,남양주시,...,이천시,안성시,포천시,여주시,의정부시,오산시,파주시,화성시,광주시,양주시
date,,,,,,,,,,,,,,,,,,,,,
2022-01-01,0.036197,0.002882,0.000399,0.002449,0.009767,0.114816,0.006115,0.000943,0.068948,0.030054,...,0.010934,0.094830,0.017739,0.003306,0.106322,0.213252,0.003716,0.001082,0.005751,0.009220
2022-02-01,0.053520,0.030239,0.047677,0.004426,0.013063,0.022366,0.050106,0.000943,0.101526,0.011353,...,0.018729,0.095604,0.033250,0.003679,0.105490,0.021633,0.010075,0.003417,0.009762,0.003761
2022-03-01,0.084831,0.136273,0.056131,0.001238,0.039666,0.252156,0.032976,0.003856,0.061209,0.014636,...,0.029774,0.099452,0.049126,0.004812,0.105490,0.335848,0.009069,0.044166,0.005644,0.013705

## to_excel

In [63]:
o_RMSE.to_excel("o_RMSE.xlsx")
o_MAPE.to_excel("o_MAPE.xlsx")

# 양방향

In [64]:
b_pred = pd.read_csv("양방향.csv", index_col="date")

In [65]:
b_real = pd.read_csv("실제값.csv", index_col="date")

## RMSE

In [66]:
b_RMSE = np.sqrt((b_real-b_pred)**2)

## MAPE

In [67]:
b_MAPE = ((abs(b_real-b_pred))/b_real)

## to_excel

In [69]:
b_RMSE.to_excel("b_RMSE.xlsx")
b_MAPE.to_excel("b_MAPE.xlsx")